footer {
    color: #444444;
    font-size: 14px;
    background: #eeeef5;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

    .footer-top {
        background: #fff;
        padding: 60px 0 30px 0;

        .f1 {
            h4 {
                font-size: 28px;
                margin: 0 0 10px 0;
                padding: 0;
                line-height: 1;
                font-weight: 700;
                color: #5a5af3;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
                font-family: "Raleway", sans-serif;
                color: #777777;

                strong {
                    color: #444;
                }
            }
        }

        .f2 {
            h4 {
                font-size: 16px;
                font-weight: bold;
                color: $four-color;
                position: relative;
                padding-bottom: 12px;
            }

            .list-unstyled {
                li {
                    a {
                        display: block;
                        margin-top: 15px;
                        color: #444;
                        font-size: 15px;

                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .f3 {
            h4 {
                font-size: 16px;
                font-weight: bold;
                color: #444444;
                position: relative;
                padding-bottom: 12px;
            }

            form {
                margin-top: 30px;
                background: #fff;
                padding: 6px 10px;
                position: relative;
                border-radius: 50px;
                text-align: left;
                border: 1px solid $sec-color;

                input[type="email"] {
                    border: 0;
                    outline: none;
                    padding: 4px 8px;
                    width: calc(100% - 100px);
                }

                input[type="submit"] {
                    position: absolute;
                    top: -1px;
                    right: -1px;
                    bottom: -1px;
                    cursor: pointer;
                    border: 0;
                    background: none;
                    font-size: 16px;
                    padding: 0 20px;
                    background: $maincolor;
                    color: #fff;
                    transition: 0.3s;
                    border-radius: 50px;
                    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .footer-bottom {
        p {
            font-size: 14px;
            margin-bottom: 4px;
        }

        .social {
            a {
                font-size: 18px;
                display: inline-block;
                background: #deddec;
                color: $four-color;
                line-height: 1;
                padding: 8px 0;
                margin-right: 4px;
                border-radius: 50%;
                text-align: center;
                width: 36px;
                height: 36px;
                transition: 0.3s;

                &:hover {
                    background: $maincolor;
                    color: white
                }
            }
        }
    }
}