// Start My Variables

// Colors 
$maincolor: #5a5af3;
$sec-color: #b9b9fa;
$three-color:#0c0ca8;
$four-color:#434175;
$five-color:#7272f5;

// Font-size
$font-uppercase:uppercase;
$font-weight:700;

// padding
$pd:80px;

// background
$section-bg:#eeeef5;
// End My Variables