// Start navbar
.navbar-expand-lg {
    .navbar-collapse {
        justify-content: space-around;
    }

}

.navbar-brand {
    color: $maincolor;
    font-size: 32px;
    font-weight: $font-weight;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
}
.navbar-nav {
    margin-right: 30px;

}

.navbar-expand-lg {
    .navbar-nav .nav-link {
        padding: 15px;
        padding-top: 26px;
        color: $four-color;
        font-size: 14.5px;
        font-weight: 400;
    }

}

.navbar.mobile {
    transition: all 0.1s linear;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.navbar.active {
    transition: all 0.1s linear;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.navbar.navbar-expand-lg {
    .navbar-nav .nav-link {
        &:hover {
            color: $maincolor;
        }
    }

}

.navbar .btn-get-started {
    @extend.button;
    padding: 7px 25px 8px 25px;
    color: $maincolor;
    border: 2px solid $maincolor;
    text-transform: $font-uppercase;
    font-size: 13px;

    &:hover {
        color: white;
        border: 2px solid $maincolor;
        background-color: $maincolor;
        text-decoration: none;
    }
}

.navbar-toggler {
    position: absolute;
    right: 10px;
    top: 16px
}


.dropdown-menu {
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    padding: 10px 0;
}

.dropdown-item {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #434175;
}
li.nav-item.active .nav-link{
    color: $maincolor;
}
// End navbar