.team {
    padding: 80px 0;
    background-color: $section-bg;

    .title h2 {
        @extend.section-title;
    }

    .member {
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        text-align: center;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

        &:hover .social {
            opacity: 1;
        }

        .member-img {
            position: relative;
        }

        .social {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 40px;
            opacity: 0;
            transition: ease-in-out 0.3s;
            text-align: center;
            background: rgba(255, 255, 255, 0.85);

            a {
                transition: color 0.3s;
                color: $four-color;
                margin: 0 10px;
                padding-top: 8px;
                display: inline-block;

                i {
                    font-size: 18px;
                    margin: 0 2px;
                }

                &:hover {
                    color: $maincolor;
                }
            }

        }

        .member-info {
            padding: 25px 15px;

            h4 {
                font-size: 19px;
                margin-bottom: 5px;
                color: $four-color;
                font-family: "Raleway", sans-serif;
                font-weight: $font-weight;
            }

            p {
                font-size: 13.4px;
                color: #777;
                margin-bottom: 0;
                font-family: "Raleway", sans-serif;
            }
        }
    }
}